<div class="container">
	<div class="row">
		<div class="col-4 mt-4">
			<h2>Altas Estudiantes</h2>
			<div class="form-group">
				<label for="formGroupExampleInput">Nombre: </label>
				<input [(ngModel)]="nombre" type="text" class="form-control" id="formGroupExampleInput" placeholder="">
  </div>
				<div class="form-group">
					<label for="formGroupExampleInput2">Promedio: </label>
					<input [(ngModel)]="promedio" type="number" class="form-control" id="formGroupExampleInput2" placeholder="">
  </div>
					<button (click)="insertar()"type="button" class="btn btn-success">Insertar</button>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-4">
					<ng-container *ngIf="estudiantes.length >0 else listavacia">
            <h2>Lista de Estudiantes</h2>
						<table>
							<ng-container *ngFor="let aux of estudiantes">
								<tr>
									<td><input #nom type="text" [value]="aux.nombre" readonly></td>
									<td><input  type="number" [value]="aux.promedio" readonly></td>
									<td><button (click)="eliminar(nom.value,$event)">Eliminar</button></td>
								</tr>


							</ng-container>
						</table>
					</ng-container>
				</div>
			</div>
			<ng-template #listavacia>
				<h2>Lista de estudiantes esta vacia</h2>
			</ng-template>
		</div>